[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = main
[submodule "shell/zsh/.zim/modules/completion"]
    path = shell/zsh/.zim/modules/completion
    url = https://github.com/username/repo.git