# Common
# ----------------------------------
# Compiled zsh
shell/zsh/**/**.zwc
shell/zsh/**/**.zwc.old
shell/zsh/.zim

# Private Stuff
/**/**/private-*
/scripts/private

os/linux/qtile/__pycache__
os/linux/qtile/settings/__pycache__/